.*
*.sublime-workspace
*.sublime-project

**/.DS_STORE

logs/
*~

cpp/proj.ios_mac/build/
cpp/proj.ios_mac/cpp.xcodeproj/project.xcworkspace/
cpp/proj.ios_mac/cpp.xcodeproj/xcuserdata/
cpp/simulator/
cpp/bin/
cpp/proj.android/bin/
cpp/proj.android/gen/
cpp/proj.android/libs/
cpp/proj.android/local.properties
cpp/proj.android/obj/
js/frameworks/runtime-src/proj.android/bin/
js/frameworks/runtime-src/proj.android/gen/
js/frameworks/runtime-src/proj.android/obj/
js/frameworks/runtime-src/proj.android/local.properties
js/frameworks/runtime-src/proj.android/project.properties
js/frameworks/runtime-src/proj.ios_mac/build
js/simulator/
lua/frameworks/runtime-src/proj.android/bin/
lua/frameworks/runtime-src/proj.android/gen/
lua/frameworks/runtime-src/proj.android/local.properties
lua/frameworks/runtime-src/proj.android/obj/
lua/frameworks/runtime-src/proj.android/project.properties
lua/frameworks/runtime-src/proj.ios_mac/build
lua/simulator/

cpp/backup-*
